.title , h1 {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    background-color: lightseagreen;
    line-height: 100px;
    margin:0px;
    border-radius: 50px;
}
body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#canvas{

	margin-left:30px;
	margin-top:10px;
    
}

#buttons button {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    color:white;
    cursor: pointer;
    outline: none;
}
.top {
    display: flex;
    
           
}
.stopwatch {
    margin-left: 100px;
    margin-top: -300px;
    justify-content: right;
    
}
#stopwatch {
    font-size: 100px;
    position: absolute;
    margin: 100px;
    transform: translate(-50%, -55%);
    color: black;
}
#buttons {
    position: absolute;
    margin: 80px;
    padding-top: 150px;
    transform: translate(-51.6%, -45%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}
.menu {
  width: 25%;
  float: left;
}
.main {
  width: 75%;
  float: left;
}

.showSlide {  
  display: none  
}  
  .showSlide img {  
      width: 100%;  
  }  
.slidercontainer {  
  max-width: 1000px;  
  position: relative;  
  margin: auto;  
}  
.left, .right {  
  cursor: pointer;  
  position: absolute;  
  top: 50%;  
  width: auto;  
  padding: 16px;  
  margin-top: -22px;  
  color: white;  
  font-weight: bold;  
  font-size: 18px;  
  transition: 0.6s ease;  
  border-radius: 0 3px 3px 0;  
}  
.right {  
  right: 0;  
  border-radius: 3px 0 0 3px;  
}  
  .left:hover, .right:hover {  
      background-color: rgba(115, 115, 115, 0.8);  
  }  
.content {  
  color: #eff5d4;  
  font-size: 30px;  
  padding: 8px 12px;  
  position: absolute;  
  top: 10px;  
  width: 100%;  
  text-align: center;  
}  
.active {  
  background-color: #717171;  
}  
/* Fading animation */  
.fade {  
  -webkit-animation-name: fade;  
  -webkit-animation-duration: 1.5s;  
  animation-name: fade;  
  animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
  from {  
      opacity: .4  
  }  
  to {  
      opacity: 1  
  }  
}  

@keyframes fade {  
  from {  
      opacity: .4  
  }  
  to {  
      opacity: 1  
  }  
}  

.size {
  padding-left: 200px;
  padding-top: 50px;
}
